pipeline/IngestaUnArchivo.json
{
	"name": "IngestaUnArchivo",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "ColumnaResultadoActividad",
								"value": {
									"value": "@activity('Get Metadata1').output.itemName",
									"type": "Expression"
								}
							},
							{
								"name": "columnaParametroLocal",
								"value": {
									"value": "@pipeline().parameters.ParametroNombre",
									"type": "Expression"
								}
							},
							{
								"name": "columanParametroGlobal",
								"value": {
									"value": "@pipeline().globalParameters.Moneda",
									"type": "Expression"
								}
							},
							{
								"name": "columnaVariable",
								"value": {
									"value": "@variables('PrimeraVariable')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Anio",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Anio",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Mes",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Mes",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CodigoPais",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CodigoPais",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CodigoVehiculo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CodigoVehiculo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "UnidadNegocio",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "UnidadNegocio",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubUnidadNegocio",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubUnidadNegocio",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Grupo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Grupo",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Moneda",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Moneda",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Presupuesto",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Presupuesto",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ColumnaResultadoActividad",
									"type": "String"
								},
								"sink": {
									"name": "ColumnaResultadoActividad",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "columnaParametroLocal",
									"type": "String"
								},
								"sink": {
									"name": "columnaParametroLocal",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "columanParametroGlobal",
									"type": "String"
								},
								"sink": {
									"name": "columanParametroGlobal",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "columnaVariable",
									"type": "String"
								},
								"sink": {
									"name": "columnaVariable",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PresupuestosyGastos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SalidaPresuGastos",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "NombreArchivo",
						"value": "miprimerarchivo"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "PresupuestosyGastos",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PrimeraVariable",
					"value": {
						"value": "@activity('Get Metadata1').output.itemname",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ParametroNombre": {
				"type": "String",
				"defaultValue": "@activity('Get Metadata1').output.itemName"
			}
		},
		"variables": {
			"PrimeraVariable": {
				"type": "String",
				"defaultValue": "4"
			}
		},
		"annotations": []
	}
}