pipeline/LoadJollyGoodSales.json
{
	"name": "LoadJollyGoodSales",
	"properties": {
		"activities": [
			{
				"name": "LookupRunSqlNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ', pipeline().Pipeline, ' executed in ', pipeline().DataFactory)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "TransformJollyGoodSales",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SetRunSqlNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformJollyGoodSales",
						"type": "DataFlowReference",
						"parameters": {
							"RunSeqNo": {
								"value": "@int(variables('RunSqlNo'))",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "PersistLoadSales",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "TransformJollyGoodSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]",
					"storedProcedureParameters": {
						"runSeqNo": {
							"value": {
								"value": "@int(variables('RunSqlNo'))",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DBAzureSqlEjemplo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetRunSqlNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupRunSqlNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSqlNo",
					"value": {
						"value": "@string(activity('LookupRunSqlNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LogPipelineEnd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PersistLoadSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": null,
							"type": "Int32"
						},
						"RowsCopied": {
							"value": null,
							"type": "Int32"
						},
						"RowsRead": {
							"value": null,
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@int(variables('RunSqlNo'))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "done",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DBAzureSqlEjemplo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RunSqlNo": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Capitulo 7"
		},
		"annotations": []
	}
}