pipeline/PR.json
{
	"name": "PR",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSV_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.SourceFile",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SetFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetAnio",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Anio",
					"value": {
						"value": "@substring(variables('FileName') , add( indexof(variables('FileName') , '_'), 1) , 4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMes",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetAnio",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Mes",
					"value": {
						"value": "@substring(variables('FileName') , add( indexof(variables('FileName') , '_'), 5) , 2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetMes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "FilePath",
								"value": "$$FILEPATH"
							},
							{
								"name": "Año_N",
								"value": {
									"value": "@variables('Anio')",
									"type": "Expression"
								}
							},
							{
								"name": "Mes_N",
								"value": {
									"value": "@variables('Mes')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSV_FileShare",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@pipeline().parameters.SourceDirectory",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.SourceFile",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PQT_BlobStorage",
						"type": "DatasetReference",
						"parameters": {
							"Container": "outingesta",
							"Directory": {
								"value": "@concat(variables('Anio'), variables('Mes'))",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.SinkFile",
								"type": "Expression"
							},
							"StorageAccountConnectionString": "ConectionStringBSSalidaIngesta1"
						}
					}
				]
			}
		],
		"parameters": {
			"SourceDirectory": {
				"type": "string",
				"defaultValue": "PR/presupuestosygastos"
			},
			"SourceFile": {
				"type": "string",
				"defaultValue": "presupuestogastosperu_202104.csv"
			},
			"SinkDirectory": {
				"type": "string"
			},
			"SinkFile": {
				"type": "string",
				"defaultValue": "PresupuestoGastoPeru"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			},
			"Anio": {
				"type": "String"
			},
			"Mes": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IngestaP"
		},
		"annotations": []
	}
}